.budget-navbar {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #fff;
}

.budget-navbar .navbar-nav > .active > a {
    background: #3498db;
    color: #fff;
}

.budget-navbar .budget-cart {
    padding-left: 10px;
    border-left: 1px solid #d3d3d3;
}

.budget-navbar .budget-form-btn {
    margin-right: 10px;
}

.item > img {
    margin: 0 auto;
}